*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo Bhai 2", sans-serif;
}
.outer_class{
    display: flex;
    text-align: justify;
    justify-content: center;
    background: silver;

}
img{
    height: 100px;
    width: 200px;
}

.form_design{
    display: flex;
    text-align: justify;
    justify-content: center;
    border: 2px solid transparent;
    background-color: silver;
    color: black;
    font-size: 23px;
}
.form_attributes{
    font-size: 23px;
}

.btn_class{
    display: flex;
    margin: 10px;
}
#btn1{
    
    font-size: 23px;
}

.view_mode{
    font-size: 1rem;
    
    display: inline-grid;
    margin: 43px;
    align-items: center;
}
.btn2{
    margin: 5px;
    font-size: 20px;
}

.inside_view_mode{
    margin: 10px;
    border: 2px solid;
}
.view_mode_item{
    margin: 10px 0 5px 8px;
}

.specific_outer{
    margin: 25px;
}
.specific_mid{
    display: flex;
    justify-content: center;
}
.specific_content{
    font-size: 23px;
}